<ol class="breadcrumb">
  <li><span class="text-muted">YOU ARE HERE</span></li>
  <li class="active">Gateways</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <widget>
            <header>
              <button type="button" class="btn btn-sm btn-gray mt-n-xs pull-right" ui-sref="app.editGateway({_id: null})">Create new Gateway</button>
              <h4 class="widget-title">Gateways</h4>
            </header>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Pubsub Endpoint </th>
                    <th>Enabled</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="gateway in vm.gateways">
                    <td>{{gateway.name}}</td>
                    <td>{{gateway.type}}</td>
                    <td>{{gateway.location_id}}</td>
                    <td>{{gateway.pubsub.endpoint}}</td>
                    <td>{{gateway.enabled}}</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-default" ui-sref="app.editGateway({id: gateway._id})">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.delete(gateway)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </widget>
    </div>
</div>